body {
    padding: 35px;
    background-color: #9b9b9b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    border-radius: 0 0 3px 3px;
    box-shadow: 3px 3px 3px #7f7f7f;
}

th {
    padding: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
}

td {
    padding: 20px;
    font-weight: 400;
    font-size: 13px;
}

tr {
    border-bottom: 1px solid #e8e8e8;
}

/* pseudo codigo para criar o efeito "hover" ao passar o mouse por cima do elemento
*/
.linhas:hover {
    background-color: #eeeeee;
}

/* pseudo código para pegar apenas os primeiros elementos de cada tag sem precisar
criar uma class dentro de cada um
*/
table thead th:first-child, tbody td:first-child {
    text-align: center;
}

caption {
    background-color: #fff;
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border-width: 0px;
    border-radius: 3px 3px 0 0;
    box-shadow: 3px -3px 3px #7f7f7f;
}

table .select_registros_paginas, label, span, select{
     text-align: right;
     font-size: 12px;
     border: transparent;
     color: #000000;
     opacity: 0.7; 
}

table .setas, span {
    padding: 0 22px;
}

table .setas {
    /* usado para diminuir a opacidade.
    Outra alternativa é usar o 
    "color: rgba(0, 0, 0, 0.5);"
    Valores min e max: color: rgba(0-255, 0-225, 0-255, 0-1);
    mas em letras gera uma pequena
    sensação de afinamento na expessura da letra.
    */
    opacity: 0.5; 
}